{% extends "itreporting/base.html" %}


{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Us | TechRate</title>
   
</head>

<body>
 
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-5 text-center">
                <h1 class="text-center mb-5">Contact Us</h1>
                <p>Phone: +44 (0)20 555 1234</p>
                <p>Email: info@techrate.com</p>
                <p>129 High Street, London NW1 6XE, United Kinkgdom this is for the address for communcation for users to locate location</p>
            </div>
            <div class="container my-5"></div>
            <div class="col-lg-10 offset-lg-4">
                <h5 class="text-center mb-5">Have any questions? We'd love to hear from you.</h5>

                <form action="{% url 'itreporting-contact' %}" method="post">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea name="message" id="message" class="form-control" rows="5"
                            placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XD1i6sf+2IbJzI"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>

{% endblock %}
