{% extends "reviewApp/base.html" %}

{% block content %}

  <div class="container my-5">
    <h1 class="text-center mb-5 offset-lg-6">Products</h1>
    <div class="row offset-lg-1">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card">
            {% if product.photo %}
              <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description|truncatewords:20 }}</p>
              <a href="{% url 'product-detail' pk=product.pk %}" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-md-12">
          <p>No products available.</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
