{% extends "reviewApp/base.html" %} <!-- Extends the base template -->

{% block content %} <!-- Defines a content block -->
    <div class="container my-5"> <!-- Container for the content -->
        <h2 class="mb-4">Update Review</h2> <!-- Title for the update review form -->
        <form method="post" action="{% url 'product:update-review' pk=review.pk %}">
            <!-- Form for updating the review -->
            {% csrf_token %} <!-- Generates a CSRF token for the form -->
            {{ form.as_p }} <!-- Renders the form as HTML -->
            <button type="submit" class="btn btn-primary">Update review</button> <!-- Button to submit the form -->
        </form>
    </div>
{% endblock %} <!-- Ends the content block -->
