{% extends "reviewApp/base.html" %}

{% block content %}
{% load static %}



<div class="jumbotron jumbotron-fluid bg-light text-center mt-5"style="margin-left: 0px;">
  <div class="container-fluid animate__animated animate__fadeIn">
    <h1 class="display-4 col-lg-19">Welcome to TechRate</h1>
    <p class="lead">We provide the latest information and reviews on electronic products.</p>
    <hr class="my-4">
    <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.2rem; font-weight: 300;">Our mission is to help consumers make informed decisions when purchasing electronic devices, whether it be a smartphone, tablet, smartwatch, or smart TV.</p>
    <a class="btn btn-primary btn-lg" href="#" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.2rem; font-weight: 400;" role="button">Learn more</a>
  </div>
  
</div>
<div class="image-slider">
  <img src="{% static 'images/laptop1.jpg' %}" alt="Slider Image 1" class="active">
  <img src="{% static 'images/phone1.jpg' %}" alt="Slider Image 2">
  <img src="{% static 'images/watch1.jpg' %}" alt="Slider Image 3">

</div>

<script>
  const images = document.querySelectorAll('.image-slider img');
  let index = 0;

  setInterval(() => {
    images[index].classList.remove('active');
    index = (index + 1) % images.length;
    images[index].classList.add('active');
  }, 5000);
</script>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="https://www.apple.com/by/iphone-13-pro/" target="_blank"><img src="{% static 'images/iphone13.jpeg' %}" class="card-img-top" alt="iPhone 13 Pro Max"></a>
        <div class="card-body">
          <h2 class="card-title">Top Phones</h2>
          <h5 class="card-subtitle mb-2 text-muted">iPhone 13 Pro Max</h5>
          <p class="card-text">The Most Advanced iPhone Yet.</p>
          <a href="https://www.apple.com/iphone-13-pro-max/" target="_blank" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="https://www.apple.com/watch/" target="_blank"><img src="{% static 'images/watchapple.jpeg' %}" class="card-img-top" alt="Apple Watch Series 7"></a>
        <div class="card-body">
          <h2 class="card-title">Top Smartwatches</h2>
          <h5 class="card-subtitle mb-2 text-muted">Apple Watch Series 7</h5>
          <p class="card-text">The Most Advanced Smartwatch from Apple.</p>
          <a href="https://www.apple.com/watch/" target="_blank" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="https://www.samsung.com/us/mobile/tablets/galaxy-tab-s7/buy/" target="_blank"><img src="{% static 'images/tab.jpeg' %}" class="card-img-top" alt="Samsung Galaxy Tab S7"></a>
        <div class="card-body">
          <h2 class="card-title">Top Tablets</h2>
          <h5 class="card-subtitle mb-2 text-muted">Samsung Galaxy Tab S7</h5>
          <p class="card-text">The Best Android Tablet with a Great Display.</p>
          <a href="https://www.samsung.com/us/mobile/tablets/galaxy-tab-s7/buy/" target="_blank" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </div>
  </div>
</div>

          
      
  </div>
</div>
{% endblock %}
