{% extends "reviewApp/base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-light text-center mt-5"style="margin-left: 0px;">
  <div class="container-fluid">
    <h1 class="display-4 col-lg-19">Welcome to TechRate</h1>
    <p class="lead">We provide the latest information and reviews on electronic products.</p>
    <hr class="my-4">
    <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.2rem; font-weight: 300;">Our mission is to help consumers make informed decisions when purchasing electronic devices, whether it be a smartphone, tablet, smartwatch, or smart TV.</p>
    <a class="btn btn-primary btn-lg" href="#" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.2rem; font-weight: 400;" role="button">Learn more</a>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h2>Top phones</h2>
    <div class="card mb-4">
      <a href="https://www.apple.com/iphone-13-pro-max/" target="_blank"><img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81pUYPe0E2L._AC_SX679_.jpg" class="card-img-top" alt="iPhone 13 Pro Max"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.apple.com/iphone-13-pro-max/" target="_blank">iPhone 13 Pro Max</a></h5>
        <p class="card-text">The Most Advanced iPhone Yet.</p>
        <a href="https://www.apple.com/iphone-13-pro-max/" target="_blank" class="btn btn-primary">View Product</a>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Top Smartwatches</h2>
      <div class="card mb-4">
        <a href="https://www.apple.com/watch/" target="_blank"><img src="https://via.placeholder.com/300x500.png?text=Apple+Watch+Series+7" class="card-img-top" alt="Apple Watch Series 7"></a>
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.apple.com/watch/" target="_blank">Apple Watch Series 7</a></h5>
          <p class="card-text">The Most Advanced Smartwatch from Apple.</p>
          <a href="https://www.apple.com/watch/" target="_blank" class="btn btn-primary">View Product</a>
        </div>
      </div>
      <div class="card mb-4">
        <a href="https://www.samsung.com/global/galaxy/galaxy-watch4/" target="_blank"><img src="https://via.placeholder.com/300x500.png?text=Samsung+Galaxy+Watch4" class="card-img-top" alt="Samsung Galaxy Watch4"></a>
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.samsung.com/global/galaxy/galaxy-watch4/" target="_blank">Samsung Galaxy Watch4</a></h5>
          <p class="card-text">The Latest Smartwatch from Samsung with Impressive Features.</p>
          <a href="https://www.samsung.com/global/galaxy/galaxy-watch4/" target="_blank" class="btn btn-primary">View Product</a>
        </div>
      </div>
      <div class="card mb-4">
        <a href="https://www.fitbit.com/global/us/products/smartwatches/fitbit-versa-3" target="_blank"><img src="https://via.placeholder.com/300x500.png?text=Fitbit+Versa+3" class="card-img-top" alt="Fitbit Versa 3"></a>
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.fitbit.com/global/us/products/smartwatches/fitbit-versa-3" target="_blank">Fitbit Versa 3</a></h5>
          <p class="card-text">A Popular Smartwatch with Health and Fitness Features.</p>
          <a href="https://www.fitbit.com/global/us/products/smartwatches/fitbit-versa-3" target="_blank" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
